<!DOCTYPE html>
<html>

<head>
  <title>Movie Bot</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <style>
    html,
    body {
      display: flex;
      justify-content: center;
      font-family: Roboto, Arial, sans-serif;
      font-size: 15px;
    }

    form {
      border: 5px solid #f1f1f1;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    table {
      margin-top: 5%;
    }

    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: #8ebf42;
      color: white;
      padding: 14px 0;
      margin: 10px 0;
      border: none;
      cursor: grabbing;
      width: 100%;
    }

    h1 {
      text-align: center;
      fone-size: 18;
    }

    button:hover {
      opacity: 0.8;
    }

    .formcontainer {
      text-align: left;
      margin: 24px 50px 12px;
    }

    .container {
      padding: 16px 0;
      text-align: left;
    }

    span.psw {
      float: right;
      padding-top: 0;
      padding-right: 15px;
    }

    /* Change styles for span on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
        display: block;
        float: none;
      }
  </style>
</head>

<body>
  <form id="questionForm" action="/ask-movies" method="post">
    <h1>Movie Questions</h1>
    <div class="formcontainer">
      <div class="container">
        <label for="question"><strong>Question</strong></label>
        <input type="text" placeholder="Enter Question" name="question" required>
      </div>
      <button type="submit">Submit</button>
    </div>
    <div class="formcontainer">
      <table>
        <tr>
          <th>Question</th>
        </tr>
        <tr>
          <td>
            <%= text %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <th>Intent
          </th>
          <th>Confidence
          </th>
        </tr>
        <% intents.forEach(item=> { %>
          <tr>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.confidence %>
            </td>
          </tr>
          <% }); %>
      </table>
      <table>
        <tr>
          <th>Entity</th>
          <th>Value</th>
          <th>Confidence</th>
        </tr>
        <% entities.forEach(item=> { %>
          <tr>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= item.value %>>
            </td>
            <td>
              <%= item.name %>
            </td>
          </tr>
          <% }); %>
      </table>
      <table>
        <% queryResults.forEach((result, index)=> { %>
          <% if (index === 0) { %>
            <tr>
              <% Object.keys(result).forEach(function (key) { %>
                <th>
                  <%= key %>
                </th>
                <% }); %>
            </tr>
            <% } %>

              <tr>
                <% Object.keys(result).forEach(function (key) { %>
                  <th>
                    <%= result[key] %>
                  </th>
                  <% }); %>
              </tr>
              <% }); %>
      </table>
    </div>
  </form>
</body>

</html>